
<div id="main-container" class="container">
	<div class="row">
		<div class="col-sm-9 col-md-12">
			<section ng-repeat="content in contents">
				<h3><code>{{content.title}}</code></h3>
				<pre><code class="{{content.class}}">{{content.description}}</code></pre>
			</section>
		</div>
	</div>
	<div ng-controller="Article" class="row">
	  	<div ng-repeat="article in articles" class="col-sm-4 col-md-4">
		    <div class="thumbnail">
				<img src="assets/img/slider-1.jpg" alt="...">
				<div  class="caption">
					<h3>{{article.article_name}}</h3>
					<p>{{article.article_description}}</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
		    </div>
	  	</div>
	 </div>
</div>